<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>5679B085-0684-358F-E663-447283F37E8D</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
